@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Creepster&family=Mystery+Quest&display=swap');

h1{
    color: rgb(228, 104, 16);
    font-size: 60px;
    font-weight: 400;
    font-family: Creepster;
    
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style:dotted;


}

p{
    color:rgb(255, 106, 0);
    font-size: 20px;
    font-weight: 300;
    font-family:Mystery Quest;

    
    
    

}
 h2{
    color: chartreuse;
    font-family: gnalry bone;
 }

 