  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color:#fc0303;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about,  #contact {
    background-color: #444;
}

#products {
    
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.product {
    margin: 20px;
    padding: 20px;
    background-color: #555;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    height: 350px;
}
.product p {
    margin-left: 800px;
    margin-top: -0px;
}


.product h3{
    margin-left: 800px;
    margin-top: -300px;

}

.mboard{
    width: 20%;
    border-radius: 8px;
    margin-left: 100px;
    margin-right: 150px;
  
}
.leptop{
    width: 37%;

}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
input{
    border-radius: 8px;
    
}
input[type=text] {
    width: 90px;
  box-sizing: border-box;
  border: 2px solid #555;
  border-radius: 4px;
  font-size: 16px;
  background-color:#555;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  margin-left: 30px;
  margin-bottom: 15px;
  }
  
  input[type=text]:focus {
    width: 30%;
  }


  input[type=email] {
    width: 90px;
  box-sizing: border-box;
  border: 2px solid  #555;
  border-radius: 4px;
  font-size: 16px;
  background-color:#555;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  margin-left: 30px;
  margin-bottom: 15px;
  }
  
  input[type=email]:focus {
    width: 30%;
  }  
  .submit {
    appearance: none;
    background-color: #5f5d5d;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: red;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }